p Hi #{name},
p Welcome to the shop dev, the global ecommerce shop.
p To provide your account, you must verify your account by click <a href=`#{linkVerify}`>here</a> before login into web.
p Thank you and hope you have a wonderfull day.
